<!-- <p>list works!</p>
<h1>Objects</h1>
<ul *ngIf="obj">
  <li *ngFor="let o of obj">
    <p class="id">{{o.id}}</p>
    <p class="name">{{o.name}}</p>
    <p class="country">{{o.country}}</p>
    <p class="city">{{o.city}}</p>
    <p class="phone">{{o.phone}}</p>
    <a href="{{ o.website_url }}" class="site"><b>site</b></a>

  </li>
</ul>
 -->


<div class="container">
    <div class="row">
        <!-- <ul *ngIf="obj">
            <li *ngFor="let o of obj">
                <p class="id">{{o.id}}</p>
                <p class="name">{{o.name}}</p>
                <p class="country">{{o.country}}</p>
                <p class="city">{{o.city}}</p>
                <p class="phone">{{o.phone}}</p>
                <a href="{{ o.website_url }}" class="site"><b>site</b></a>

            </li>
        </ul> -->

        <ul *ngIf="obj" class="card">
            <li *ngFor="let o of obj " class="card-body ">
                <img class="card-img-top " src="../../assets/Img/pexels-photo-236047.jpeg" alt="Card image cap ">
                <h4 class="card-title " style="padding: 5px;">{{o.id}}<br/> {{o.name}}</h4>
                <div class="card-text " style="padding: 10px;">
                    <h6 class="card-subtitle mb-2 text-muted">Phone: {{o.phone}}</h6>
                    <h6>City: {{o.city}}</h6>
                    <h5></h5>
                    <h6>Country: {{o.country}}</h6>
                </div>
                <a href="{{ o.website_url }} " class="btn btn-primary ">Go somewhere</a>
            </li>
        </ul>
    </div>
</div>