<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" routerLink="/" class="navbar-brand">CoolApp</a>
        </div>
        <ul class="nav navbar-nav  navbar-right">
            <li><a href="#" routerLink="/">Home</a></li>
            <li><a href="#" routerLink="/contact">Contact</a></li>
            <li><a href="#" routerLink="/list">product List</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>